

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* following three classes allow vertical centering*/
/*
HTML {
    overflow-x: scroll;
    overflow-y: scroll;

}
::-webkit-scrollbar {
    display: none;
}
 */
 
HTML, BODY  {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Roboto', Verdana, sans-serif;
    height: 100%;
    margin: 0px;
    border:0;
    padding:0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    border:0;
    padding:0;
    background-color: #FFFFFF;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border:0;
    padding:0;
    background-color: #FFFFFF;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

H1 {
    font-size: 18px;
    font-weight: bold;
    color: #006600;
    letter-spacing: 1.4px;
    border-bottom: solid 1px #006600;
    text-transform: uppercase;
}

H2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #009900;
}

P, BLOCKQUOTE {
    font-size: 11px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
}

BLOCKQUOTE {
    font-style: italic;
    color: #444444;
    letter-spacing: 1.25px;
    line-height: 1.5;
    background: #EEEEEE;
    padding: 5px;
    margin: auto 15px;
}

A {
    color: #008800;
}


a, a:active, a:focus, a:hover, a:link a:visited {
    font-family: 'Roboto',  DejaVu, sans-serif;
    font-size: 15px;
    color: green;
    text-decoration: none;
    border-style: none;
    margin: 0px 30px 0px 0px;
    
}

i::first-letter {
	font-size: 55px;
}

ABBR {
    border-bottom: dotted 1px #006600;
}

.scalable {
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.scalable:hover {
    color: #55AA00;
}

.title-font {
    font-family: 'Lobster';
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1.4px;
    /*border-bottom: solid 1px #006600;
    text-transform: uppercase;*/
}

.body-font {
    font-family: ''Roboto', Verdana, sans-serif;
    font-size: 20px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
    /*text-align: left;*/
  text-align: justify;
  text-justify: inter-word;
}

.center-font {
  text-align: center;

}

.float-container {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    /*background-color: #FFA0FF;*/
    margin: auto;
    margin-top: 10px;
    /*padding: 10px;*/
}


/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    img { max-width: 100%; }

    .inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        border:0;
        padding:0;
        background-color: #FFFFFF;
    }

}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    img { max-width: 100%; }
}
.img-circle {
   border-radius: 20%;
}
